<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.nowhere.be.model.dao.MenuMapper">
    <resultMap id="MenuResultMap" type="com.nowhere.be.model.dto.MenuDTO">
        <id property="menuCode" column="MENU_CODE"/>
        <result property="menuName" column="MENU_NAME"/>
        <result property="menuPrice" column="MENU_PRICE"/>
        <result property="categoryCode" column="CATEGORY_CODE"/>
        <result property="orderableStatus" column="ORDERABLE_STATUS"/>
    </resultMap>

    <select id="selectAllMenus" resultMap="MenuResultMap">
        SELECT
            MENU_CODE
            , MENU_NAME
            , MENU_PRICE
            , CATEGORY_CODE
            , ORDERABLE_STATUS
        FROM TBL_MENU
        ORDER BY MENU_CODE
    </select>

    <select id="selectMenuByCode" resultMap="MenuResultMap">
        SELECT
            MENU_CODE
            , MENU_NAME
            , MENU_PRICE
            , CATEGORY_CODE
            , ORDERABLE_STATUS
        FROM TBL_MENU
        WHERE MENU_CODE = #{ menuCode }
    </select>

    <select id="getLastMenuCode" resultType="_int">
        SELECT
            MAX(MENU_CODE)
        FROM TBL_MENU
    </select>

    <insert id="insertMenu" parameterType="com.nowhere.be.model.dto.MenuDTO">
        INSERT INTO TBL_MENU(
            MENU_CODE
            , MENU_NAME
            , MENU_PRICE
            , CATEGORY_CODE
            , ORDERABLE_STATUS
        )
        VALUES(
            #{ menuCode }
            , #{ menuName }
            , #{ menuPrice }
            , #{ categoryCode }
            , #{ orderableStatus }
        )
    </insert>

    <update id="updateMenu" parameterType="com.nowhere.be.model.dto.MenuDTO">
        UPDATE TBL_MENU
        <set>
            MENU_CODE = #{ menuCode }
            <if test="menuName != ''">
                , MENU_NAME = #{ menuName }
            </if>
            <if test="menuPrice != 0">
                , MENU_PRICE = #{ menuPrice}
            </if>
            <if test="categoryCode != 0">
                , CATEGORY_CODE = #{ categoryCode }
            </if>
            <if test="orderableStatus != ''">
                , ORDERABLE_STATUS = #{ orderableStatus }
            </if>
        </set>
        WHERE MENU_CODE = #{ menuCode }
    </update>

    <delete id="deleteMenu" parameterType="_int">
        DELETE FROM TBL_MENU
        WHERE MENU_CODE = #{ menuCode }

    </delete>
</mapper>